#credits {
    width: 80vw;
    max-width: 1000px;
    text-align: center;
}

#credits-div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}

#credits-div > * {
    margin: 0 10px;
}

#credits-div img{
    width: 40px;
}

#credits ul {
   display: flex;
   align-items: center;
   justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line
     with flex flow */
   flex-flow: row wrap;
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
   align-content: flex-end;
}

#credits li {
    margin: 0 10px;
    max-width: 100%;
}

#credits a {
    margin: 0 10px;
    max-width: 100%;
}